html,
body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #08182b;
}


/* ---> Fonts & Font Sizing <---------------------- */

h1 {
    font-size: 66px;
    font-weight: 300;
    color: #fff;
}

h2 {
    font-size: 42px;
    color: #595959;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-weight: 300;
    color: rgb(227, 227, 227);
}

p {
    font-size: 18px;
    color: #808080;
}


/* ---> Container Spacing <------------------------ */

.container {
    padding-top: 100px;
    padding-bottom: 100px;
}


/* ---> Image Sizing <------------------------- */

.service-img {
    height: 125px;
}

.companies-img {
    height: 155px;
    opacity: 0.85;
}


/* ---> Links <------------------------- */


/* ---> Navbar <------------------------------ */

.navbar-brand img {
    width: 90px;
}

.navbar {
    background-color: transparent;
    transition: background 1s;
}

.solid {
    background: #000;
    opacity: 0.85;
}

.nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 10px 0 10px;
}


/* ---> Buttons <--------------------------- */

button {
    text-transform: uppercase;
    font-weight: 600;
}

.btn-fill {
    background-color: #256bc1;
    color: #fff;
}

.btn-fill-yellow {
    background-color: #fcad36;
    color: #fff;
}

.btn-ghost {
    border-color: #047490;
    color: #047490;
    background-color: transparent;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}


/* ---> Header <------------------------------- */

#header-hero {
    background-image: url('../img/skyline-3.jpg');
    background-attachment: scroll;
    background-position: left top;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.hero-text {
    padding: 38% 0;
}


/* ---> How it works <------------------------------- */

#how-it-works {
    background-color: #eee;
}

.how-it-works h1 {
    color: #e6ac00;
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 400;
}

.how-it-works span {
    font-size: 32px;
}

.how-it-works p {
    border-left: thick solid #fed136;
    padding: 20px 20px;
    margin-left: 10px;
}


/* ---> Mission <------------------------------- */

#mission {
    background-color: #fff;
}


/* ---> Services <------------------------------- */

#services {
    background-color: #fff;
}

.services h4 {
    color: #047490;
}


/* ---> Contact <------------------------------- */

#contact {
    background-color: #eee;
}


/* ---> Footer <------------------------------- */

#footer {
    background-color: #08182b;
}

.footer span {
    color: #8c8c8c;
    text-transform: uppercase;
}

.social-media {
    width: 55px;
}


/* ---> Companies <------------------------------- */

.companies {
    /*background-color: #047490;*/
    background-color: #8c8c8c;
}

.companies .container {
    padding: 40px 0;
}


/* ---> Apply <------------------------------- */

#apply {
    background-color: #fff;
}

.apply h1 {
    color: #000;
    font-size: 56px;
}

.apply label {
    color: #666666;
}

#form {
    background-color: #1c5397;
}

.apply-text {}

.apply-text h2 {
    color: #bfd6f3;
}

.apply-text p {
    color: #94bbeb;
}