body {
    background-color #fff;
}


/* ---> Fonts & Font Sizing <---------------------- */

h1 {}

h2 {}

h3 {}


/* ---> Container Spacing <------------------------ */

.container {
    padding-top: 100px;
    padding-bottom: 100px;
}


/* ---> Image Sizing <------------------------- */

.service-img {
    height: 125px;
}


/* ---> Links <------------------------- */


/* ---> Navbar <------------------------------ */

.navbar-brand img {
    width: 40px;
}

.navbar {
    background-color: transparent;
    transition: background 1s;
}

.solid {
    background: #000;
    opacity: 1;
}

.nav-link {
    color: #fff;
}


/* ---> Buttons <--------------------------- */

.header-hero .btn {
    background-color: rgb(116, 218, 33);
    color: #fff;
}


/* ---> Page Sections <------------------------------- */

#header-hero {
    background-color: darkblue;
}

#how-it-works {
    background-color: blueviolet;
}

#services {
    background-color: yellow;
}

#mission {
    background-color: burlywood;
}

#apply {
    background-color: royalblue;
}

#contact {}

#footer {
    background-color: #000;
}