body {}


/* ---> Fonts & Font Sizing <---------------------- */

h1 {
    font-size: 72px;
    font-weight: 300;
    color: #fff;
}

h2 {
    font-size: 36px;
    font-weight: 400;
    color: #595959;
}

h3 {
    font-weight: 300;
    color: rgb(227, 227, 227);
}

p {
    font-size: 18px;
    color: #808080;
}


/* ---> Container Spacing <------------------------ */

.container {
    padding-top: 100px;
    padding-bottom: 100px;
}


/* ---> Image Sizing <------------------------- */

.service-img {
    height: 125px;
}

.companies-img {
    height: 155px;
}


/* ---> Links <------------------------- */


/* ---> Navbar <------------------------------ */

.navbar-brand img {
    width: 40px;
}

.navbar {
    background-color: transparent;
    transition: background 1s;
}

.solid {
    background: #000;
    opacity: 1;
}

.nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 10px 0 10px;
}


/* ---> Buttons <--------------------------- */

.btn-fill {
    background-color: #047490;
    color: #fff;
}

.btn-ghost {
    border-color: #047490;
    color: #047490
}

.btn-white {
    border-color: #fff;
    color: #fff;
}


/* ---> Header <------------------------------- */

#header-hero {
    background: #000 url('../img/skyline-3.jpg') no-repeat fixed center;
    background-size: cover;
}

.hero-text {
    padding: 30% 0 0 0;
}


/* ---> Companies <------------------------------- */

.companies {
    background-color: #047490;
}

.companies .container {
    padding: 40px 0;
}


/* ---> How it works <------------------------------- */

#how-it-works {
    background-color: #fff;
}

.how-it-works h1 {
    color: #047490;
    text-transform: uppercase;
}

.how-it-works span {
    font-size: 42px;
}


/* ---> Services <------------------------------- */

#services {
    background-color: #eee;
}

.services h4 {
    color: #047490;
}


/* ---> Mission <------------------------------- */

#mission {
    background-color: #fff;
}


/* ---> Contact <------------------------------- */

#contact {
    background-color: #eee;
}


/* ---> Footer <------------------------------- */

#footer {
    background-color: #000;
}

.footer span {
    color: #8c8c8c;
    text-transform: uppercase;
}

.social-media {
    width: 55px;
}


/* ---> Apply <------------------------------- */

#apply {
    background-color: #fff;
}