.contact-form {
  margin-top: 30px; }
  .contact-form .input-block {
    border-bottom: solid 2px #2fa4b6;
    width: 100%;
    height: 60px;
    padding: 25px;
    position: relative;
    margin-bottom: 20px;
    transition: all 0.3s ease-out; }
    .contact-form .input-block.focus {
      background-color: #047490;
      border-bottom: solid 1px #2d9dae; }
    .contact-form .input-block.textarea {
      height: auto; }
      .contact-form .input-block.textarea .form-control {
        height: auto;
        resize: none; }
    .contact-form .input-block label {
      position: absolute;
      left: 25px;
      top: 25px;
      display: block;
      margin: 0;
      font-weight: 300;
      z-index: 1;
      color: #85d4e0;
      font-size: 18px;
      line-height: 10px; }
    .contact-form .input-block .form-control {
      background-color: transparent;
      padding: 0;
      border: none;
      border-radius: 0;
      box-shadow: none;
      height: auto;
      position: relative;
      z-index: 2;
      font-size: 18px;
      color: #85d4e0; }
    .contact-form .input-block .form-control:focus label {
      top: 0; }
  .contact-form .square-button {
    background-color: rgba(255, 255, 255, 0.8);
    color: #257f8d;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 0 60px;
    height: 60px;
    border: none;
    width: 100%; }
    .contact-form .square-button:hover, .contact-form .square-button:focus {
      background-color: white; }

@media (min-width: 768px) {
  .contact-wrap {
    width: 60%;
    margin: auto; } }

/*----page styles---*/
.contact-wrap {
  padding: 15px; }

.mobile-btn {
  position: relative;
  text-decoration: none;
  height: 30px;
  width: 30px;
  display: block;
  margin: 0 auto; }
  .mobile-btn span {
    position: absolute;
    height: 3px;
    width: 30px;
    right: 0;
    top: 50%;
    margin-top: -1px;
    background: #fff;
    border-radius: 2px;
    transition: background 0.3s; }
    .mobile-btn span:before {
      position: absolute;
      content: "";
      height: 3px;
      width: 30px;
      top: -10px;
      display: block;
      background: #fff;
      border-radius: 2px;
      transition: transform 0.3s, top 0.3s 0.3s; }
    .mobile-btn span:after {
      position: absolute;
      content: "";
      height: 3px;
      width: 30px;
      top: 10px;
      display: block;
      background: #fff;
      border-radius: 2px;
      transition: transform 0.3s, top 0.3s 0.3s; }
  .mobile-btn.cross span {
    background: transparent; }
    .mobile-btn.cross span:before {
      top: 0;
      transform: rotate(45deg);
      transition: top 0.3s, transform 0.3s 0.3s; }
    .mobile-btn.cross span:after {
      top: 0;
      transform: rotate(-45deg);
      transition: top 0.3s, transform 0.3s 0.3s; }

.text {
  max-width: 800px;
  margin: 0 auto;
  display: block;
  text-align: center; }

.mobile-nav-button {
  width: 25px;
  margin: 15px 0;
  z-index: 9999;
  cursor: pointer;
  width: 25px;
  height: 30px; }

.mobile-menu {
  display: block;
  max-width: 500px;
  width: 100%;
  right: -100%;
  height: 100vh;
  background: #fcb852;
  position: absolute;
  z-index: 9998;
  transition: 0.6s ease;
  top: 0;
  opacity: 0; }
  .mobile-menu ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0; }
    .mobile-menu ul li {
      list-style: none; }
      .mobile-menu ul li a {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: block;
        text-align: center;
        text-decoration: none;
        color: #0e0e0e;
        font-size: 3rem;
        font-weight: bold;
        overflow: hidden;
        position: relative; }
        .mobile-menu ul li a:after {
          content: '';
          background: #0e0e0e;
          width: 100%;
          height: 100%;
          position: absolute;
          right: -100%;
          top: 0;
          z-index: -1;
          transition: 0.4s ease; }
        .mobile-menu ul li a:hover {
          color: #fff; }
          .mobile-menu ul li a:hover:after {
            right: 0; }
  .mobile-menu img {
    position: absolute;
    width: 150px;
    display: block;
    left: 50%;
    top: 3rem;
    transform: translatex(-50%);
    padding: 0;
    text-align: center; }

.mobile-menu--open {
  right: 0;
  opacity: 1; }
